@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mpesa-green: #00a651;
  --mpesa-dark: #007a3d;
}

.PhoneInputInput:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #d1d5db !important;
  }
  
  .PhoneInputInput {
    outline: none !important;
    box-shadow: none !important;
  }